<div id="MultipleItemsCarousel" class="carousel slide multi-carousel " data-bs-ride="true">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#MultipleItemsCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#MultipleItemsCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#MultipleItemsCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <h2 class="text-center">Productos mas vendidos</h2>
      <div class="carousel-item active">
        <div class="row text-center d-flex justify-content-center">
            <div class="col-sm-2">
                <a href="#" class="text-reset text-decoration-none text-center">
                    <img src="/images/capsula-decaf.png" alt="" class="img-fluid">
                    <p>Capsula Decaf</p>
                    <button class="button__add">Agregar al carrito <i class="fa-solid fa-cart-shopping"></i></button>
                </a>
            </div>
            <div class="col-sm-2">
                <a href="#" class="text-reset text-decoration-none">
                    <img src="/images/capsula-decaf.png" alt="" class="img-fluid">
                    <p>Capsula Decaf</p>
                    <button class="button__add">Agregar al carrito <i class="fa-solid fa-cart-shopping"></i></button>
                </a>
            </div>
            <div class="col-sm-2">
                <a href="#" class="text-reset text-decoration-none">
                    <img src="/images/capsula-decaf.png" alt="" class="img-fluid">
                    <p>Capsula Decaf</p>
                    <button class="button__add">Agregar al carrito <i class="fa-solid fa-cart-shopping"></i></button>
                </a>
            </div>
            <div class="col-sm-2 text-center">
                <a href="#" class="text-reset text-decoration-none">
                    <img src="/images/capsula-decaf.png" alt="" class="img-fluid">
                    <p>Capsula Decaf</p>
                    <button class="button__add">Agregar al carrito <i class="fa-solid fa-cart-shopping"></i></button>
                </a>
            </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row text-center d-flex justify-content-center">
            <div class="col-sm-2">
                <a href="#" class="text-reset text-decoration-none text-center">
                    <img src="/images/capsula-lungo.png" alt="" class="img-fluid">
                    <p>Capsula Decaf</p>
                    <button class="button__add">Agregar al carrito <i class="fa-solid fa-cart-shopping"></i></button>
                </a>
            </div>
            <div class="col-sm-2">
                <a href="#" class="text-reset text-decoration-none">
                    <img src="/images/capsula-lungo.png" alt="" class="img-fluid">
                    <p>Capsula Decaf</p>
                    <button class="button__add">Agregar al carrito <i class="fa-solid fa-cart-shopping"></i></button>
                </a>
            </div>
            <div class="col-sm-2">
                <a href="#" class="text-reset text-decoration-none">
                    <img src="/images/capsula-lungo.png" alt="" class="img-fluid">
                    <p>Capsula Decaf</p>
                    <button class="button__add">Agregar al carrito <i class="fa-solid fa-cart-shopping"></i></button>
                </a>
            </div>
            <div class="col-sm-2 text-center">
                <a href="#" class="text-reset text-decoration-none">
                    <img src="/images/capsula-lungo.png" alt="" class="img-fluid">
                    <p>Capsula Decaf</p>
                    <button class="button__add">Agregar al carrito <i class="fa-solid fa-cart-shopping"></i></button>
                </a> 
            </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row text-center d-flex justify-content-center">
            <div class="col-sm-2">
                <a href="#" class="text-reset text-decoration-none text-center">
                    <img src="/images/capsula-forte.png" alt="" class="img-fluid">
                    <p>Capsula Decaf</p>
                    <button class="button__add">Agregar al carrito <i class="fa-solid fa-cart-shopping"></i></button>
                </a>
            </div>
            <div class="col-sm-2">
                <a href="#" class="text-reset text-decoration-none">
                    <img src="/images/capsula-forte.png" alt="" class="img-fluid">
                    <p>Capsula Decaf</p>
                    <button class="button__add">Agregar al carrito <i class="fa-solid fa-cart-shopping"></i></button>
                </a>
            </div>
            <div class="col-sm-2">
                <a href="#" class="text-reset text-decoration-none">
                    <img src="/images/capsula-forte.png" alt="" class="img-fluid">
                    <p>Capsula Decaf</p>
                    <button class="button__add">Agregar al carrito <i class="fa-solid fa-cart-shopping"></i></button>
                </a>
            </div>
            <div class="col-sm-2 text-center">
                <a href="#" class="text-reset text-decoration-none">
                    <img src="/images/capsula-forte.png" alt="" class="img-fluid">
                    <p>Capsula Decaf</p>
                    <button class="button__add">Agregar al carrito <i class="fa-solid fa-cart-shopping"></i></button>
                </a>
            </div>
        </div>
    </div>
    
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#MultipleItemsCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon carousel-button" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#MultipleItemsCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon carousel-button" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    <div class="text-center mt-5 btn-info">
        <button>Ver todos los productos</button>
    </div>
  </div>