<nav class="navbar navbar-expand-lg p-4">
  <div class=" navbar__nav container-fluid text-reset">
    <img src="images/LOGO.gif" alt="" height="25">
    <a class=" logoscript navbar-brand text-reset" href="/">
      CafeScript
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar__nav-s collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class=" menu_options nav-link active " aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class=" menu_options nav-link " href="/admin/options">Administrar</a>
        </li>
        <li class="nav-item dropdown">
          <a class=" menu_options nav-link dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Productos
          </a>
          <ul class="dropdown-menu text-lowercase " id="dropdown-menu">
            <li><a class="dropdown-item text-dark" href="/product/allProducts">Capsulas</a></li>
            <li><a class="dropdown-item text-dark" href="/product/allProducts">Cafe en grano y molido</a></li>
            <li><a class="dropdown-item text-dark" href="/product/allProducts">Cafeteras</a></li>
            <li><a class="dropdown-item text-dark" href="/product/allProducts">Todos los productos</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex justify-content-center" role="search">
        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
        <button class="btn btn-outline-light" type="submit">Buscar</button>
      </form>
      <div class=" cuenta d-flex align-items-center p-2">

        <% if(locals.id){ %>
          <a class="navbar-brand text-reset" href="/users/actualizar/<%=locals.id%>">
            <i class="fa-regular fa-user"></i>
            Mi cuenta
          </a>
          <% } else{ %>
            <a class="navbar-brand text-reset" href="/users/login">
              <i class="fa-regular fa-user"></i>
              Mi cuenta
            </a>
            <% } %>







      </div>
    </div>
  </div>
</nav>
<!-- Navbar -->