
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid text-reset">
    <a class="navbar-brand text-reset" href="/">
      <i class="fa-solid fa-mug-hot"></i>
      CafeScript
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-reset" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-reset" href="/admin/newProduct">Administrar</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-reset" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Productos
          </a>
          <ul class="dropdown-menu text-lowercase " id="dropdown-menu">
            <li><a class="dropdown-item text-dark" href="/product/allProducts">Capsulas</a></li>
            <li><a class="dropdown-item text-dark" href="/product/allProducts">Cafe en grano y molido</a></li>
            <li><a class="dropdown-item text-dark" href="/product/allProducts">Cafeteras</a></li>
            <li><a class="dropdown-item text-dark" href="/product/allProducts">Todos los productos</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex justify-content-center" role="search">
        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
        <button class="btn btn-outline-light" type="submit">Buscar</button>
      </form>
      <div class="d-flex align-items-center p-2">
        <a class="navbar-brand text-reset" href="/users/login">
          <i class="fa-regular fa-user"></i>
          Mi cuenta
        </a>
      </div>
    </div>
  </div>
</nav>
<!-- Navbar -->