@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200&display=swap');
$background:#F5F5DC;
$marron:#8B4513;
$words-1:#FFF5EE;
$words-2:#F0E68C;
$gris:#A9A9A9;
$golden:#B8860B;
$font-main: 'Barlow', sans-serif;