<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CafeScript</title>
  <link rel='stylesheet' href='/stylesheets/main.css' />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300&display=swap" rel="stylesheet">
</head>

<body class="mainpag">
  <%- include('partials/header') %>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/images/banner-1.webp" class="d-block w-100 banner-top" alt="banner">
        </div>
        <div class="carousel-item">
          <img src="/images/banner-2.jpg" class="d-block w-100 banner-top" alt="banner">
        </div>
        <div class="carousel-item">
          <img src="/images/bannerTop-4.jpg" class="d-block w-100 banner-top" alt="banner">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <div class="capsula row text-center d-flex justify-content-center container-fluid">
      <h2>Capsula</h2>
      <div class="col-xl-1 col-lg-4 col-sm-6 capsula-container">
        <a href="#" class="text-reset text-decoration-none">
          <img class="img-fluid" src="/images/capsula-decaf.png" alt="">
          <h4>Decaf</h4>
        </a>
      </div>
      <div class="col-xl-1 col-lg-4 col-sm-6 capsula-container">
        <a href="#" class="text-reset text-decoration-none">
          <img class="img-fluid" src="/images/capsula-forte.png" alt="">
          <h4>Forte</h4>
        </a>
      </div>
      <div class="col-xl-1 col-lg-4 col-sm-6 capsula-container">
        <a href="#" class="text-reset text-decoration-none">
          <img class="img-fluid" src="/images/capsula-lungo.png" alt="">
          <h4>Lungo</h4>
        </a>
      </div>
      <div class="col-xl-1 col-lg-4 col-sm-6 capsula-container">
        <a href="#" class="text-reset text-decoration-none">
          <img class="img-fluid" src="/images/capsula-nero.png" alt="">
          <h4>Nero</h4>
        </a>
      </div>
      <div class="col-xl-1 col-lg-4 col-sm-6 capsula-container">
        <a href="#" class="text-reset text-decoration-none">
          <img class="img-fluid" src="/images/capsula-nostro.png" alt="">
          <h4>Nostro</h4>
        </a>
      </div>
      <div class="col-xl-1 col-md-4 col-sm-6 capsula-container">
        <a href="#" class="text-reset text-decoration-none">
          <img class="img-fluid" src="/images/capsula-tradizionale.png" alt="">
          <h4>Tradizionale</h4>
        </a>
      </div>
    </div>


    <%- include('partials/carousel') %>
      <img src="/images/banner-mercadopago.png" alt="banner-bottom" class="img-fluid banner-bottom">



      <%- include('partials/footer') %>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
          crossorigin="anonymous"></script>
</body>

</html>