@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@200&display=swap");
.navbar {
  background-color: #8B4513; }

.container_footer {
  background-color: #8B4513; }

.nav-bar {
  display: flex;
  flex-direction: row; }
