@import url("https://fonts.googleapis.com/css2?family=Rye&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap");
.navbar {
  background-color: #4f290e;
  color: #f3e8e8;
  text-transform: uppercase;
  font-size: 0.9rem; }
  .navbar .navbar__nav a {
    letter-spacing: 2.5px;
    font-family: "Barlow", sans-serif; }
  .navbar .navbar__nav .logoscript {
    font-family: "Rye", cursive; }
  .navbar .navbar__nav .navbar__nav-s ul li .menu_options {
    color: #f3e8e8; }
    .navbar .navbar__nav .navbar__nav-s ul li .menu_options:hover {
      text-decoration: underline;
      color: #F0E68C; }
  .navbar .navbar__nav .navbar__nav-s .cuenta a {
    color: #f3e8e8;
    font-family: "Rye", cursive; }

.cafe-icon {
  width: 2rem; }

@media (max-width: 600px) {
  .banner-top {
    height: 200px; } }

.body__login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: black; }

.container_login {
  position: relative;
  width: 400px;
  height: 440px;
  background-color: #2e2a24;
  border-radius: 8px;
  overflow: hidden; }

.container_login::before {
  content: " ";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  height: 420px;
  background: linear-gradient(0deg, transparent, #4f290e, #4f290e);
  transform-origin: bottom right;
  animation: animate 6s linear infinite; }

.container_login::after {
  content: " ";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  height: 420px;
  background: linear-gradient(0deg, transparent, #4f290e, #4f290e);
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -3s; }

@keyframes animate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.titulo {
  display: flex; }

.container_form {
  position: absolute;
  inset: 2px;
  border-radius: 8px;
  background: #4f2c0b;
  z-index: 10;
  padding: 50px 40px;
  display: flex;
  flex-direction: column; }

.container_form h1 {
  letter-spacing: 0.1em; }

.container_form--div {
  position: relative;
  width: 300px;
  margin-top: 35px; }

.container_form--div input {
  position: relative;
  width: 100%;
  padding: 20px 10px  10px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  letter-spacing: 0.05em;
  z-index: 10; }

.container_form--div span {
  position: absolute;
  left: 0;
  padding: 20px 0px 10px;
  font-size: 1em;
  pointer-events: none;
  letter-spacing: 0.05em;
  transition: 0.5s; }

.container_form--div input:valid ~ span,
.container_form--div input:focus ~ span {
  color: #f6eded;
  font-size: 0.75em;
  transform: translateX(0px) translateY(-34px);
  font-weight: 600; }

.container_form--div i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #B8860B;
  border-radius: 8px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9; }

.container_form--div input:valid ~ i,
.container_form--div input:focus ~ i {
  height: 44px; }

.container_form--link {
  display: flex;
  justify-content: space-between; }

.container_form--link a {
  margin: 10px 0;
  font-size: 1em;
  color: #B8860B;
  font-weight: 600;
  text-decoration: none; }

.container_form--link a:hover {
  color: #dea20c;
  font-weight: 700; }

input[type="submit"] {
  border: none;
  outline: none;
  background-color: #B8860B;
  padding: 11px 20px;
  width: 100px;
  margin-top: 10px;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer; }

input[type="submit"]:hover {
  background-color: #dea20c; }

@media only screen and (min-width: 200px) and (max-width: 420px) {
  .container_login {
    position: relative;
    width: 275px;
    height: 445px;
    background-color: #2e2a24;
    border-radius: 8px;
    overflow: hidden; }
  .container_form {
    position: absolute;
    inset: 2px;
    border-radius: 8px;
    background: #4f2c0b;
    z-index: 10;
    padding: 36px 26px;
    display: flex;
    flex-direction: column; }
  .container_form--div i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 76%;
    height: 2px;
    background-color: #B8860B;
    border-radius: 8px;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9; } }

.body__login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: black; }

.container_register {
  position: relative;
  width: 400px;
  height: 795px;
  background-color: #2e2a24;
  border-radius: 8px;
  overflow: hidden; }

.container_register::before {
  content: " ";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 400px;
  height: 795px;
  background: linear-gradient(0deg, transparent, #4f290e, #4f290e);
  transform-origin: bottom right;
  animation: animate 6s linear infinite; }

.container_register::after {
  content: " ";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 400px;
  height: 795px;
  background: linear-gradient(0deg, transparent, #4f290e, #4f290e);
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -3s; }

@keyframes animate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.titulo {
  display: flex; }

.container_form {
  position: absolute;
  inset: 2px;
  border-radius: 8px;
  background: #4f2c0b;
  z-index: 10;
  padding: 50px 40px;
  display: flex;
  flex-direction: column; }

.container_form h1 {
  letter-spacing: 0.1em; }

.container_form--div {
  position: relative;
  width: 300px;
  margin-top: 35px; }

.container_form--div input {
  position: relative;
  width: 100%;
  padding: 20px 10px  10px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  letter-spacing: 0.05em;
  z-index: 10; }

.container_form--div span {
  position: absolute;
  left: 0;
  padding: 20px 0px 10px;
  font-size: 1em;
  pointer-events: none;
  letter-spacing: 0.05em;
  transition: 0.5s; }

.container_form--div input:valid ~ span,
.container_form--div input:focus ~ span {
  color: #f6eded;
  font-size: 0.75em;
  transform: translateX(0px) translateY(-34px);
  font-weight: 600; }

.container_form--div i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #B8860B;
  border-radius: 8px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9; }

.container_form--div input:valid ~ i,
.container_form--div input:focus ~ i {
  height: 44px; }

.container_form--link {
  display: flex;
  justify-content: space-between; }

.container_form--link a {
  margin: 10px 0;
  font-size: 1em;
  color: #B8860B;
  font-weight: 600;
  text-decoration: none; }

.container_form--link a:hover {
  color: #dea20c;
  font-weight: 700; }

input[type="submit"] {
  border: none;
  outline: none;
  background-color: #B8860B;
  padding: 11px 20px;
  width: 100px;
  margin-top: 10px;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer; }

input[type="submit"]:hover {
  background-color: #dea20c; }

@media only screen and (min-width: 200px) and (max-width: 500px) {
  .container_register {
    position: relative;
    width: 275px;
    height: 750px;
    background-color: #2e2a24;
    border-radius: 8px;
    overflow: hidden; }
  .container_form {
    position: absolute;
    inset: 2px;
    border-radius: 8px;
    background: #4f2c0b;
    z-index: 10;
    padding: 36px 26px;
    display: flex;
    flex-direction: column; }
  .container_form--div i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 76%;
    height: 2px;
    background-color: #B8860B;
    border-radius: 8px;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9; } }

.body__login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: black; }

.container_recuperar {
  position: relative;
  width: 400px;
  height: 795px;
  background-color: #2e2a24;
  border-radius: 8px;
  overflow: hidden; }

.container_recuperar::before {
  content: " ";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  height: 420px;
  background: linear-gradient(0deg, transparent, #4f290e, #4f290e);
  transform-origin: bottom right;
  animation: animate 6s linear infinite; }

.container_recuperar::after {
  content: " ";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  height: 420px;
  background: linear-gradient(0deg, transparent, #4f290e, #4f290e);
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -3s; }

@keyframes animate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.titulo {
  display: flex; }

.container_form {
  position: absolute;
  inset: 2px;
  border-radius: 8px;
  background: #4f2c0b;
  z-index: 10;
  padding: 50px 40px;
  display: flex;
  flex-direction: column; }

.container_form h1 {
  letter-spacing: 0.1em; }

.container_form--div {
  position: relative;
  width: 300px;
  margin-top: 35px; }

.container_form--div input {
  position: relative;
  width: 100%;
  padding: 20px 10px  10px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  letter-spacing: 0.05em;
  z-index: 10; }

.container_form--div span {
  position: absolute;
  left: 0;
  padding: 20px 0px 10px;
  font-size: 1em;
  pointer-events: none;
  letter-spacing: 0.05em;
  transition: 0.5s; }

.container_form--div input:valid ~ span,
.container_form--div input:focus ~ span {
  color: #f6eded;
  font-size: 0.75em;
  transform: translateX(0px) translateY(-34px);
  font-weight: 600; }

.container_form--div i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #B8860B;
  border-radius: 8px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9; }

.container_form--div input:valid ~ i,
.container_form--div input:focus ~ i {
  height: 44px; }

.container_form--link {
  display: flex;
  justify-content: space-between; }

.container_form--link a {
  margin: 10px 0;
  font-size: 1em;
  color: #B8860B;
  font-weight: 600;
  text-decoration: none; }

.container_form--link a:hover {
  color: #dea20c;
  font-weight: 700; }

input[type="submit"] {
  border: none;
  outline: none;
  background-color: #B8860B;
  padding: 11px 20px;
  width: 100px;
  margin-top: 10px;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer; }

input[type="submit"]:hover {
  background-color: #dea20c; }

@media only screen and (min-width: 200px) and (max-width: 500px) {
  .container_recuperar {
    position: relative;
    width: 275px;
    height: 445px;
    background-color: #2e2a24;
    border-radius: 8px;
    overflow: hidden; }
  .container_form {
    position: absolute;
    inset: 2px;
    border-radius: 8px;
    background: #4f2c0b;
    z-index: 10;
    padding: 36px 26px;
    display: flex;
    flex-direction: column; }
  .container_form--div i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 76%;
    height: 2px;
    background-color: #B8860B;
    border-radius: 8px;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9; } }

.products {
  background-color: #F5F5DC; }

footer {
  background-color: #4f290e;
  color: #f3e8e8; }

.nav-bar {
  display: flex;
  flex-direction: row; }

* {
  font-family: 'Raleway', sans-serif; }

.mainpag {
  background-color: #F5F5DC; }
  .mainpag .carousel-button {
    background-color: #4f290e; }
  .mainpag .multi-carousel {
    margin-top: 50px; }
    .mainpag .multi-carousel .carousel-inner h2 {
      font-family: "Barlow", sans-serif;
      color: #B8860B;
      margin: 50px 0 50px 0;
      letter-spacing: 3px;
      font-size: 40px; }
    .mainpag .multi-carousel .carousel-inner .product-container {
      padding-bottom: 30px; }
      .mainpag .multi-carousel .carousel-inner .product-container p {
        font-family: "Barlow", sans-serif;
        font-size: 20px;
        color: #4f290e; }
      .mainpag .multi-carousel .carousel-inner .product-container .button__add {
        background-color: #4f290e; }
    .mainpag .multi-carousel .carousel-inner .product-container:hover {
      background-color: #b8870b38;
      transition-duration: 500ms; }
  .mainpag .banner-bottom {
    width: 100%;
    margin-top: 4rem; }
  .mainpag .capsula h2 {
    font-family: "Barlow", sans-serif;
    color: #B8860B;
    margin: 70px 0 50px 0;
    letter-spacing: 3px;
    font-size: 40px; }
  .mainpag .capsula .capsula-container h4 {
    font-family: "Barlow", sans-serif;
    color: #4f290e;
    font-size: 20px; }
  .mainpag .capsula .capsula-container:hover {
    transform: scale(1.2);
    transition-duration: 500ms; }
  .mainpag .verproductos {
    background-color: #4f290e; }
