
.navbar {
    background-color: $marron;
    color: $words-1;
    text-transform: uppercase;
    font-size: 0.9rem;
    
    .navbar__nav {
        display: flex;
        align-items: center;
        img{
            margin: 0 10px 10px 0;
        }
        a{
            letter-spacing: 2.5px;
            font-family: $font-main;
        }
        .logoscript {
            font-family: $fontsecond;
        }


        .navbar__nav-s{
            ul{
                li{
                    .menu_options{
                        color: $words-1;
                        &:hover{
                            text-decoration: underline;
                            color: $words-2;
                        }
                    }
                }
            }
            .cuenta{
                a{
                    color: $words-1;
                    font-family: $fontsecond;
                }
            }
        }
    }
}
.cafe-icon {
    width: 2rem;
}



@media (max-width: 600px){
    .banner-top {
        height: 200px;
    }
}